body{
    overflow-x: hidden;
}
/*section_1_navbar starts*/
#s1{
    background-image: url(../Img/girl.png);
    background-size: 100% 100%;
    padding: 20% 5%;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #00000080;
    padding: 50px 50px 15px 50px;
    transition: top 0.3s;
    z-index: 999;
    max-width: 100vw;
    /* Set the maximum width to the viewport width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
  }
  /* Style for the active link */
  .nav-item {
    padding: 1px 15px;
  }
.navbar-nav .nav-item.active a {
    color: #ED145B!important;
    font-weight: bold; /* You can adjust this as needed */
  }
  
.navbar{
    width: 95%;
    margin: 0% auto;
    margin-top: -2%;
}
.navbar-light .navbar-nav .nav-link{
    color: white!important;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #ED145B!important;
}
.navbar-toggler{
     background-color: #ED145B;

}
/*s1 starts*/
.line-img{
    margin: auto;
    display: block;
}
.s1-text h1{
    color: white;
    font-weight: 200;
    margin: 2%;
}
.s1-text p{
    color: white;
    margin: 2%;
}
@media only screen and (max-width: 767px){
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #00000080;
    padding:0px;
    transition: top 0.3s;
    z-index: 999;
    max-width: 100vw;
    /* Set the maximum width to the viewport width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
  }
}
/*section 3 starts*/
.circul{
    margin: 25% 0px;
}
/*section 4 starts*/
#s4{
    background-image: url(../Img/Prostok%C4%85t%201%20kopia%20s3.png);
    background-size: 100% 100%;
    padding: 5% 5%;
}
.corosol_itm{
    font-size: 16px;
    color: white;
    font-weight: 200;
    line-height: 2;
}
/*section 5 starts*/
#s5{
    background-color: #F4F4F4;
}
.s5_wid{
    width: 80%;
}
.line-img1{
    margin: 20px auto;
    display: block;
}
.empty{
    height: 100px;
}
/*section 6 strats*/
 .line-img2{
    margin: 20px auto;
    display: block;
}  
.s6_wid{
    width: 85%;
    margin: auto;
}
.empty1{
    height: 100px;
}
/*section 7 starts*/
#s7{
    background-color: #ED145B;
    height: 100px;
}
.s7-fontsize{
    color: white;
    font-size: 26px;
    font-weight: 100;
    margin-top: 30px;
}
.line-img3{
    margin: 0px auto;
    display: block;
}

/*section 9 starts*/
#s9 {
    background-image: url(../img/girldup.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding: 7% 7%;
}
.pp{
    color: floralwhite;
}

#s9 p {
    color: grey;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1% 5%;
}

#s9 .card-body {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    color: white;
    border: none;
    text-align: center;
}

#s9 .btn-primary {
    color: #fff;
    background-color: #ed145b;
    border: none;
    padding: 1% 3%;
    border-radius: 20px;
    font-weight: bold;
}
/*section 10 starts*/
#s10 .col-md-7 {
    margin: 0;
    padding: 0;
}

#s10 .col-md-5 {
    margin: 0;
    padding-right: 0;
}

col-sm-12 {
    text-align: center;
}

#s10 .saf {
    padding: 10% 5%;
}

#s10 .pow {
    padding-top: 20%;
    padding-right: 15%;
}

#s10 button {
    color: #fff;
    background-color: #ed145b;
    border: none;
    padding: 3% 5%;
    border-radius: 20px;
    font-weight: bold;
    margin: 7% 0;
    cursor: pointer;
}

#s10 p {
    color: grey;
    font-size: 20px;
    margin-top: 3%;
}
#s10 h3{
    color: gray;
}
/*footer starts*/

/*footer starts*/
footer{
	padding:55px 0;
	color: dimgray;
	font-weight:400;
	background:#2b2b2b;	
	font-size:15px;
    height: 50px;
}
footer p a{color:#fff;}
footer p a:hover{color: #ed145b;}
p.rightside{text-align:right;}

/*media query starts*/

/* @media only screen and (max-width: 767px){
    #s6 .s6_wid{
            width: 100%!important;
        }
     .line-img2{
    margin: 10px auto;
    display: block;
}
} */

/*========================================= card ==================================== */
@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,500,400,300,800);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);

body{ 
    background-color:#f0f3f6;
  overflow-x: hidden;

}
h1,h2,h3,h4,h5,h6,div,input,p,a{
    font-family: "Open Sans";  
    margin:0px; 
}

h3{ 
    font-size:22px;
}
/* .container-fluid,.container { 
    margin:auto;
  padding:0px 15px;
  max-width:1200px;
} */
label{
  font-weight:500;
}
.form-group{
  margin-bottom:5px;
}


input,textarea,select,button{ 
    margin: 5px 0px ;
    font-size:13px !important; 
    border-radius:0px;
}
input[type=text],input[type=password],textarea,input[type=email],select,textarea{ 
    width: 100%; 
    border:1px solid #DADADA; 
    padding: 5px 10px;  
    height:45px;  
}
input[type=submit],input[type=button],input[type=reset],button{
    border:none; 
    font-size: 11px;  
  border-radius:3px;
  height:45px;
  color:#FFF;
}

.btn:hover,.btn:focus{  
    cursor:pointer; 
    color:#FFF;
}
input[type=radio]{
    margin:0px;
    padding:0px; 
    height:auto;
}
.form-control{ 
    box-shadow:none !important;  
  border-radius:0px;
}
.form-control:focus{
    border:1px solid #CCC;
}
.btn:focus{
  box-shadow:none !important;
}

textarea{ 
    width: 100%;
}
input[type=reset]{ 
    margin-left: 10px;
}
textarea{
  min-height:100px;
}
a{ 
    color: inherit;
}
a:hover,a:focus{ 
    text-decoration: none !important; 
    color: inherit !important;
}
ul{
    margin: 0px; 
    padding: 0px; 
    list-style: none;
}
.relative{ 
    position: relative;
}
.absolute{ 
    position: absolute;
}
.fixed{ 
    position: fixed;
}

.pricing-table-container{
  padding:50px 0px;
}
.description{
  padding:15px 0px;
}
.description a{
  padding:10px;
  font-size:13px;
  display:block;
  font-weight:bold;
  border-bottom:1px solid #DDD;
}
.description a.active{
  background-color:#FFF;
  padding-left:25px;
}
@charset "utf-8";
/* DEMO 01 */
.pricing-table-3{
  background-color:#FFF;
  margin:15px auto;
  box-shadow:0px 0px 25px rgba(0,0,0,0.1);
  max-width:300px;
  border-radius:0px 10px 0px 10px;
  overflow:hidden;
  position:relative;
  min-height:250px;
  transition:all ease-in-out 0.25s;
}
.pricing-table-3:hover{
  transform:scale(1.1,1.1);
  cursor:pointer;
}

.pricing-table-3.basic .price{
  background-color:#28b6f6;
  color:#FFF;
}
.pricing-table-3.premium .price{
  background-color:#ff9f00;
  color:#FFF;
}
.pricing-table-3.business .price{
  background-color:#c3185c;
  color:#FFF;
}

.pricing-table-3 .pricing-table-header{
  background-color:#212121;
  color:#FFF;
  padding:20px 0px 0px 20px;
  position:absolute;
  z-index:5;
}
.pricing-table-3 .pricing-table-header p{
  font-size:12px;
  opacity:0.7;
}
.pricing-table-3 .pricing-table-header::before{
  content:"";
  position:absolute;
  left:-50px;
  right:-180px;
  height:125px;
  top:-50px;
  background-color:#212121;
  z-index:-1;
  transform:rotate(-20deg)
}

.pricing-table-3 .price{
  position:absolute;
  top:0px;
  text-align:right;
  padding:110px 20px 0px 0px;
  right:0px;
  left:0px;
  font-size:20px;
  z-index:4;
}
.pricing-table-3 .price::before{
  content:"";
  position:absolute;
  left:0px;
  right:0px;
  height:100px;
  bottom:-25px;
  background-color:inherit;
  transform:skewY(10deg);
  z-index:-1;
  box-shadow:0px 5px 0px 5px rgba(0,0,0,0.05);
}


.pricing-table-3 .pricing-body{
  padding:20px;
  padding-top:200px;  
}
.pricing-table-3 .pricing-table-ul li{
  color:rgba(0,0,0,0.7);
  font-size:13px;
  padding:10px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.pricing-table-3 .pricing-table-ul .fa{
  margin-right:10px;
}
.pricing-table-3.basic .pricing-table-ul .fa{
  color:#28b6f6;
}
.pricing-table-3.premium .pricing-table-ul .fa{
  color:#ff9f00;
}
.pricing-table-3.business .pricing-table-ul .fa{
  color:#c3185c;
}
.pricing-table-3 .view-more{


  margin:10px 20px;
  display:block;
  text-align:center;
  border:1px solid #212121;
  background-color:#212121;
  padding:10px 0px;
  color:#FFF;

}
.pricing-table-3 .view-more:hover{
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  cursor: pointer; /* Change cursor on hover */
  border:1px solid #212121;
  background-color:#FFF;
  color:#212121;
}

/*========================================= card ==================================== */

