<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstraps</title>
  <link rel="stylesheet" type="text/css" href="Css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Css/style.css">
</head>

<body>

  <!--    navbar ends    -->
  <section class="menu-item" id="s1">
    <div class="container menu-container">
      <div class="navbar">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
              <img src="Img/___%20Mache-logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="#s1">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#s2">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#s31">Our Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#s81">Update</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#s10">DOWNLOAD NOW</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container s1-text">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
          <h1 class="text-center"><b>MACHE</b> FREE PSD TEMPLATE</h1>
        </div>
      </div>
      <div class="row">
        <div class="line-img">
          <img src="Img/s2_hr.png" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="line-img">
          <p class="text-center">Elegant and clean PSD template, which you can download and use for free!<br>You can easily modify the design to make it your own and help you get your get your project running faster</p>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </section>
  <section class="menu-item" id="s2">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="offset-md-5 col-md-5">
              <p>Powerful PSD template<br>
                available for free!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-5 col-md-5">
              <img src="Img/s2_hr.png" class="img-fluid">
            </div>
          </div>
          <div class="row">
            <div class="offset-md-5 col-md-5">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias illo repellat, delectus aspernatur harum dolorem eius soluta. Esse veniam, itaque sunt. Hic cupiditate, consequatur. Fugiat sapiente hic facilis aperiam, magnam sequi amet molestias nostrum, sint voluptas adipisc.</p>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-5 col-md-5">
              <p>SEE THE VIDEO</p>
            </div>
          </div>
        </div>
        <div class="col">
          <img src="Img/MacBook%20Pro.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="menu-item" id="s31">
  <section  id="s3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="text-center">Our Services</h1><br>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="line-img">
            <img src="Img/s3_hr.png" class="img-fluid line-img" style="display: block">
          </div>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ad, provident. Optio<br> blanditiis alias nam nostrum voluptatum mollitia maxime!</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3 col-sm-6">
          <div class="circul">
            <img src="Img/S1.png" class="img-fluid line-img">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="circul">
            <img src="Img/S2.png" class="img-fluid line-img">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="circul">
            <img src="Img/S3.png" class="img-fluid line-img">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="circul">
            <img src="Img/S4.png" class="img-fluid line-img">
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="s4">
    <div class="container">
      <div class="row">
        <img src="Img/QuoteUp.png" class="img-fluid line-img">
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inners">
              <div class="carousel-item active">
                <br>
                <p class="corosol_itm text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aspernatur temporibus atque<br> accusantium numquam fugiat assumenda recusandae ea voluptate, iste mollitia .<br> Praesentium beatae debitis nisi est, laboriosam nemo.</p><br>
              </div>
              <div class="carousel-item">
                <br>
                <p class="corosol_itm text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aspernatur temporibus atque<br> accusantium numquam fugiat assumenda recusandae ea voluptate, iste mollitia .<br> Praesentium beatae debitis nisi est, laboriosam nemo.</p><br>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <img src="Img/QuoteDown.png" class="img-fluid line-img">
      </div>
    </div>
  </section>
  <section id="s5">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <br><br>
          <h1 class="text-center">Check Our Prices</h1><br>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="line-img">
            <img src="Img/s3_hr.png" class="img-fluid line-img" style="display: block">
          </div>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ad, provident. Optio<br> blanditiis alias nam nostrum voluptatum mollitia maxime!</p>
        </div>
      </div><br><br>
      <!-- card ========================== -->
      <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="pricing-table-3 basic">
                <div class="pricing-table-header">
                    <h4><strong>BASIC</strong></h4>
                    <p>Loerm Ipsum Donor Sit Amet</p>
                </div>
                <div class="price"><strong>$3</strong> / MONTH</div>
                <div class="pricing-body">
                    <ul class="pricing-table-ul">
                        <li><i class="fa fa-send"></i> Unlimited Email Addresses</li>
                        <li><i class="fa fa-cloud"></i> 50 GB Disk Space</li>
                        <li><i class="fa fa-database"></i> Unlimited MySQL Database</li>
                        <li class="not-avail"><i class="fa fa-clock-o"></i> 24X7 Support</li>
                        <li class="not-avail"><i class="fa fa-envelope"></i> Email Support</li>
                    </ul><a href="#" class="view-more">View More</a></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="pricing-table-3 premium">
                <div class="pricing-table-header">
                    <h4><strong>PREMIUM</strong></h4>
                    <p>Loerm Ipsum Donor Sit Amet</p>
                </div>
                <div class="price"><strong>$8</strong> / MONTH</div>
                <div class="pricing-body">
                    <ul class="pricing-table-ul">
                        <li><i class="fa fa-send"></i> Unlimited Email Addresses</li>
                        <li><i class="fa fa-cloud"></i> 80 GB Disk Space</li>
                        <li><i class="fa fa-database"></i> Unlimited MySQL Database</li>
                        <li class="not-avail"><i class="fa fa-clock-o"></i> 24X7 Support</li>
                        <li class="not-avail"><i class="fa fa-envelope"></i> Email Support</li>
                    </ul><a href="#" class="view-more">View More</a></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="pricing-table-3 business">
                <div class="pricing-table-header">
                    <h4><strong>BUSINESS</strong></h4>
                    <p>Loerm Ipsum Donor Sit Amet</p>
                </div>
                <div class="price"><strong>$12</strong> / MONTH</div>
                <div class="pricing-body">
                    <ul class="pricing-table-ul">
                        <li><i class="fa fa-send"></i> Unlimited Email Addresses</li>
                        <li><i class="fa fa-cloud"></i> 120 GB Disk Space</li>
                        <li><i class="fa fa-database"></i> Unlimited MySQL Database</li>
                        <li class="not-avail"><i class="fa fa-clock-o"></i> 24X7 Support</li>
                        <li class="not-avail"><i class="fa fa-envelope"></i> Email Support</li>
                    </ul><a href="#" class="view-more">View More</a></div>
            </div>
        </div>
    </div>
      <!--  card =========================== -->
      <div class="row empty1"></div>
    </div>
  </section>
  <section id="s6">
    <div class="container-fluid">
      <div class="row empty1"></div>
      <div class="row s6_wid jusify-content-center">
        <div class="col-lg-4  col-md-6">
          <img src="Img/I1.png" class="img-fluid line-img2">
        </div>
        <div class="col-lg-4  col-md-6">
          <img src="Img/I2.png" class="img-fluid line-img2">
        </div>
        <div class="col-lg-4  col-md-6">
          <img src="Img/I3.png" class="img-fluid line-img2">
        </div>
        <div class="col-lg-4  col-md-6">
          <img src="Img/I4.png" class="img-fluid line-img2">
        </div>
        <div class="col-lg-4  col-md-6">
          <img src="Img/I5.png" class="img-fluid line-img2">
        </div>
        <div class="col-lg-4  col-md-6">
          <img src="Img/I6.png" class="img-fluid line-img2">
        </div>
      </div>
      <div class="row empty1"></div>
    </div>
  </section>
  <section id="s7">
    <div class="container">
      <div class="row mar">
        <div class="col-md-8">
          <p class="s7-fontsize">BECOME A PART OF <b>MACHE</b> COMMUNITY TODAY</p>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
</section>
  <section  class="menu-item" id="s81">
  <section  id="s8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7"><br><br><br>
          <h1 class="text-center">Our Latest Updates</h1><br>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="line-img">
            <img src="Img/s3_hr.png" class="img-fluid line-img" style="display: block">
          </div>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ad, provident. Optio<br> blanditiis alias nam nostrum voluptatum mollitia maxime!</p>
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col">
              <img src="Img/p1-1.png" class="img-fluid line-img3">
              <br>
              <h6>Lorem ipsum dolor sit.</h6>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem, rem architecto asperiores ipsam neque!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col">
              <img src="Img/p2-1.png" class="img-fluid line-img3">
              <br>
              <h6>Lorem ipsum dolor sit.</h6>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem, rem architecto asperiores ipsam neque!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col">
              <img src="Img/p3.png" class="img-fluid line-img3">
              <br>
              <h6>Lorem ipsum dolor sit.</h6>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem, rem architecto asperiores ipsam neque!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col">
              <img src="Img/p4-1.png" class="img-fluid line-img3">
              <br>
              <h6>Lorem ipsum dolor sit.</h6>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem, rem architecto asperiores ipsam neque!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col">
              <img src="Img/p5.png" class="img-fluid line-img3">
              <br>
              <h6>Lorem ipsum dolor sit.</h6>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem, rem architecto asperiores ipsam neque!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col">
              <img src="Img/p6_.png" class="img-fluid line-img3">
              <br>
              <h6>Lorem ipsum dolor sit.</h6>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolorem, rem architecto asperiores ipsam neque!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="s9">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-center pp">Mache Free PSD Template</h1>
      </div><br>
      <div class="row">
        <div class="col">
          <img src="Img/s3_hr.png" class="img-fluid line-img">
        </div><br>
      </div>
      <div class="row">
        <div class="col">
          <p class="text-center ppl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint vero non quia incidunt a atque, libero<br> neque eveniet praesentium ratione necessitatibus perferendis facere tempore maiores<br> pariatur quisquam dolores doloribus quo dignissimosat est consequatur<br> sit fuga. Enim eveniet cum aliquam reprehenderit debitis suscipit<br> doloremque ab. Impedit neque, cumque sint eveniet minima <br></p>
        </div>
      </div>
    </div>
  </section> -->

  <section id="s9">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-center pp">Mache Free PSD Template</h1>
      </div><br>
      <div class="row justify-content-center">
        <img src="Img/s3_hr.png" alt="" class="img-fluid line-img">
      </div>
      <div class="row justify-content-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sequi deserunt, aut tenetur inventore est, dolorem perferendis ducimus velit ullam labore doloribus provident optio ab mollitia consectetur itaque numquam. Nam labore neque, corporis beatae amet, aliquam distinctio, alias iure, fugit quis nostrum in. A ipsum tempora quas laudantium quidem! Quaerat.</p>
      </div>
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#me" role="button" aria-expanded="false" aria-controls="collapseExample">
          SHOW MORE
        </a>
      </p>
      <div class="collapse" id="me">
        <div class="card card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis totam voluptatem voluptatibus iste laborum alias laudantium dicta voluptate repellat, soluta, quasi, explicabo, dolor facilis culpa officia velit. Laudantium nemo, doloribus, est sint facilis iure ipsam aperiam provident id consectetur soluta qui, debitis repudiandae praesentium atque ipsum? Iste facere laudantium sequi.
        </div>
      </div>
    </div>
  </section>
</section>
  
  <section class="menu-item" id="s10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <div class="saf">
            <img src="./img/Safari%20Browser.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-5">
          <div class="pow">
            <h3>Please share some love<br>
              by appericiate it and download!</h3>
            <img src="Img/s3_hr.png" alt="" class="img-fluid">
            <img src="./img/line.png" alt="" class="img-fluid">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque est illo deserunt dignissimos sunt id consequuntur, culpa aut aliquid cum laboriosam at quia. Odio omnis repudiandae animi, molestiae. Odit repellat magnam et, aperiam provident est mollitia repellendus quod magni sed!</p>
            <button type="button">DOWNLOAD NOW</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row justify-content-center">

    <div class="col-lg-6 col-sm-6 col-md-6">

      <p>© 2015 COPYRIGHT MACHE TEMPLATE</p>

    </div>
    <div class="col-lg-6 col-sm-6 col-md-6">
      <p class="rightside">DESIGNED BY SYMU.CO</p>
    </div>

  </div>





  <script type="text/javascript" src="Js/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" src="Js/bootstrap.min.js"></script>
  <script>
    var prevScrollpos = window.pageYOffset;

    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos || currentScrollPos === 0) {
        document.querySelector(".menu-container").style.top = "0";
      } else {
        document.querySelector(".menu-container").style.top = "-" + document.querySelector(".menu-container").offsetHeight + "px";
      }
      prevScrollpos = currentScrollPos;
    };
  </script>
<script>
    const sections = document.querySelectorAll(".menu-item");
    const navLinks = document.querySelectorAll(".nav-item");
  
    const observerOptions = {
      rootMargin: "-50% 0px -49% 0px", // Adjust this as needed
    };
  
    const observer = new IntersectionObserver(handleIntersection, observerOptions);
  
    sections.forEach((section) => {
      observer.observe(section);
    });
  
    function handleIntersection(entries, observer) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const targetId = entry.target.getAttribute("id");
          setActiveLink(targetId);
        }
      });
    }
  
    function setActiveLink(targetId) {
      navLinks.forEach((link) => {
        link.classList.remove("active");
      });
  
      const activeLink = document.querySelector(`.nav-item a[href="#${targetId}"]`);
      if (activeLink) {
        activeLink.parentElement.classList.add("active");
      }
    }
  </script>
  
  
    
</body>

</html>